.modal-mask {
    @apply fixed inset-0 bg-graphite z-50 overflow-y-auto h-full w-full flex items-center justify-center;
    background-color: rgba(0, 0, 0, .5);
    /*background-color: rgba(256, 256, 256, 1);*/
    transition: opacity .3s ease;
}

.modal-container {
    transition: all .3s ease;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
    scrollbar-color: theme('colors.battleship') theme('colors.peach');
}
.modal-header {
    @apply rounded-t-lg flex justify-between border-b border-gray-400;
}
.modal-title {
    @apply font-semibold text-xl text-white;
}
.modal-footer {
    @apply rounded-b-lg font-semibold text-xl border-t border-gray-400;
}
.modal-header, .modal-footer {
    @apply bg-contact pl-12 pr-4 py-4;
}
.modal-container.no-header {
    @apply rounded-t-lg;
}
.modal-container.no-footer {
    @apply rounded-b-lg;
}
.modal-body {
    @apply overflow-y-auto max-h-80vh overflow-hidden px-12 py-6 bg-peach;
}
.close-btn {
    @apply cursor-pointer;
}
.close-btn:hover .close-btn-bg {
    @apply fill-paprika-hover;
}
.close-btn-bg {
    @apply fill-paprika;
}
